
<div class="flex items-center">
    <a href="{{ path( app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'mg'})) }}"  >
        <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-mg" width="50" height="20" viewBox="0 0 512 512">
            <g fill-rule="evenodd" stroke-width="1pt">
                <path fill="#ff3319" d="M170.7 0H512v256H170.7z"/>
                <path fill="#00cc28" d="M170.7 256H512v256H170.7z"/>
                <path fill="#fff" d="M0 0h170.7v512H0z"/>
            </g>
        </svg>
        <span class="mx-1">Malagasy</span>
    </a>

    <a href="{{ path( app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"  >
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="20" id="flag-icon-css-fr" viewBox="0 0 512 512">
            <g fill-rule="evenodd" stroke-width="1pt">
                <path fill="#fff" d="M0 0h512v512H0z"/>
                <path fill="#00267f" d="M0 0h170.7v512H0z"/>
                <path fill="#f31830" d="M341.3 0H512v512H341.3z"/>
            </g>
        </svg>
        <span class="mx-1">Français</span>
    </a>

    <a href="{{ path( app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"  >
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="20"  id="flag-icon-css-gb" viewBox="0 0 640 480">
            <g fill-rule="evenodd" stroke-width="1pt">
                <path fill="#012169" d="M0 0h640v480H0z"/>
                <path fill="#FFF" d="M75 0l244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0h75z"/>
                <path fill="#C8102E" d="M424 281l216 159v40L369 281h55zm-184 20l6 35L54 480H0l240-179zM640 0v3L391 191l2-44L590 0h50zM0 0l239 176h-60L0 42V0z"/>
                <path fill="#FFF" d="M241 0v480h160V0H241zM0 160v160h640V160H0z"/>
                <path fill="#C8102E" d="M0 193v96h640v-96H0zM273 0v480h96V0h-96z"/>
            </g>
        </svg>
        <span class="mx-1">English</span>
    </a>
</div>

<div class="flex items-center mt-2">
    {{ 'txt.release_date' | trans  }} {{ "2020-04-06" | format_date }}
</div>
