{% extends 'frontend/layout.html.twig' %}

{% block title %} {{ 'txt.contacts' | trans }} {{ parent() }} {% endblock %}

{% block content %}

    <div class="my-4 flex flex-wrap justify-center">
        <div>
            <h1 class="whitespace-no-wrap font-bold text-center w-1/2 mb-4">{{ 'txt.contacts' | trans }}</h1>
            {% include '_partials/switch_lang.twig.html' %}
        </div>
    </div>

    <hr class="section-break-2">

    <div class="--background-color-ghostwhite border-t-4 --border-color-forestgreen rounded-b text-teal-900 py-3 shadow-md" role="alert">
        <div class="flex px-4 flex-wrap">
            <div class="w-full lg:w-6/12 md:w-6/12 ">
                <div class="flex flex-wrap">
                    <div class="py-1"><svg class="fill-current h-6 w-6 --color-forestgreen mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                    <div class="mr-4">
                        <p class="font-bold mb-6">{{ 'txt.follow_us' | trans }}</p>
                        <ul class=" mt-2">
                            <li><a target="_blank" href="https://twitter.com/Madatsara"><i class="fab fa-twitter"></i> Twitter</a></li>
                            <li><a href="mailto:madatsara@gmail.com"><i class="fas fa-envelope"></i> E-mail</a></li>
                            <li><a target="_blank" href="https://facebook.com/Madatsara"><i class="fab fa-facebook"></i> Facebook</a></li>
                            <li><a target="_blank" href="https://madatsara.com"><i class="fas fa-globe"></i> {% trans %}txt.madatsara_website{% endtrans %}</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
