$white: #ffffff;
$black: #000000;
$red: #ff0000;

// Color MAP
$map_antananarivo: #83ae76;
$map_antananarivo_hover: #186401;
$map_toamasina: #c03b4d;
$map_toamasina_hover: #6b0300;
$map_antsiranana: #d36d3c;
$map_antsiranana_hover: #fc5302;
$map_toliary: #8d8989;
$map_toliary_hover: #424041;
$map_fianarantsoa: #546bb3;
$map_fianarantsoa_hover: #090841;
$map_mahajanga: #5fbeaf;
$map_mahajanga_hover: #007462;

// Neutral color map
$lightgray: #D2CBCD;
$lightgray_hover: #D2CBCD;
// rgb
$rgb484951: rgb(48, 49, 51);
// Divider
$break-color: rgb(200, 200, 200);
//
$palegreen: #cfa;
$forestgreen: #2bb30a;
$ghostwhite: f7fafc;

//
$brown: #9b2c2c;

// Percent Color
$percent0: $white;
$percent20: #F48FB1;
$percent40: #EC407A;
$percent60: #E91E63;
$percent90: #ff1744;
$percent100: #d50000;
