.navigation-header a {
  color: $white;
}

.--background-color-palegreen {
  background-color:$palegreen;
}
.--background-color-forestgreen {
  background-color: $forestgreen;
}
.--border-color-forestgreen {
  border-color: $forestgreen;
}
.--color-forestgreen {
  color: $forestgreen;
}
.--background-color-lightgray {
  background-color: $lightgray;
}
.--background-color-ghostwhite {
  background-color: $ghostwhite;
}

.--background-color-percent-0 {
  background-color: $percent0;
}

.--background-color-percent-20 {
  background-color: $percent20;
}
.--background-color-percent-40 {
  background-color: $percent40;
}
.--background-color-percent-60 {
  background-color: $percent60;
  color: $white;
}
.--background-color-percent-90 {
  background-color: $percent90;
  color: $white;
}
.--background-color-percent-100 {
  background-color: $percent100;
  color: $white;
}
//
// Loader css > https://loading.io/css/
//
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;

  div {
    position: absolute;
    top: 20px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $percent90;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 2px;
      animation: lds-ellipsis1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
