.divider {
  position: relative;
  height: 1px;
}

.div-transparent{

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, $rgb484951, transparent);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -7px;
    left: calc(50% - 7px);
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: $white;
    border-bottom: 1px solid $rgb484951;
    border-right: 1px solid $rgb484951;
  }
}

/* Section Break https://codepen.io/joshuar/pen/MwdYLP */
.section-break-2 {
  background-color: transparent;
  border: 0;
  border-top: 1px solid $break-color;
  height: 1px;
  margin: 2rem auto;
  text-align: center;
  width: 80%;

  &:before {
    background-color: $white;
    color: darken($break-color, 20%);
    content: '\25C8';
    display: inline-block;
    font-size: 20px;
    left: 50%;
    letter-spacing: 0;
    line-height: 1;
    text-indent: -1px;
    text-rendering: geometricPrecision;
    transform: translateY(-53%);
    width: 15px;
  }
}

/* Section Break 4 */
.section-break-4 {
  border: 0;
  background-color: transparent;
  height: 0;
  margin: 2rem auto 4rem;
  text-align: center;
  width: 100%;

  &:before,
  &:after {
    background-color: $forestgreen;
    content: '';
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 7%;
  }

  &:before {
    transform: rotate(10deg);
  }

  &:after {
    transform: rotate(-10deg);
  }
}
