.qc-cmp-button {
  background-color: #9b2c2c !important;
  border-color: #9b2c2c !important;

  &:hover {
    background-color: transparent !important;
    border-color: #9b2c2c !important;
  }
}

.qc-cmp-alt-action, .qc-cmp-link {
  color: #9b2c2c !important;
}

.qc-cmp-button {
  &.qc-cmp-secondary-button {
    &:hover {
      border-color: transparent !important;
      background-color: #9b2c2c !important;
    }

    border-color: #eee !important;
    background-color: #eee !important;
  }

  color: #FFFFFF !important;
}
